html { 
    background: url(/images/tab_smoke.jpg) no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    
}

* { box-sizing: border-box; }

div.clear {
    clear: both;
}

[class*="col-"] {
    width: 100%;
    padding: 15px;
}

img.caf{
    display:block;
    width:60%;
    margin: auto;
}

.social div{
    margin:auto;
    text-align: center;
    font-family: Arial;
}

.backdrop {
    background-color: whitesmoke;
    padding:40px;
    opacity:.85;
    border-radius:8px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .info.primary{ 
        display:none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .info.primary {
        display:none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .info.primary {
      display:block;
  }
  .info.secondary { 
      display:none;
  }  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



.form_container {
    width:100%;
    margin:auto;
}

.form_background {
    background: url(/images/martin.png);
    background-repeat: no-repeat;
    background-position: center; 
}